<div class="page-header" style="margin-left: 200px">
    <h1>搜索关键词： "{{query}}"</h1>
</div>
<div id="content" class="right_sidebar">
    <div class="inner">
        <div class="general_content">
            <div class="main_content">
                <div class="block_topic_news">
                    {% for new in results %}
                        <article class="block_topic_post">
                            <p class="title"><a
                                    href="http://127.0.0.1:8000/detail/{{ new.new_id }}">{{ new.title }}</a></p>
                            <div class="f_pic"><a href="http://127.0.0.1:8000/detail/{{ new.new_id }}"
                                                  class="general_pic_hover scale"><img
                                    src="{{ new.image_url }}" alt="" style="width: 256px;height: 132px"/></a></div>

                            <div class="info">
                                <div class="date"><p>{{ new.news_date }}</p></div>

                                <div class="r_part">
                                    <div class="category"><p>浏览量：</p></div>
                                    <a href="http://127.0.0.1:8000/detail/{{ new.new_id }}"
                                       class="views">{{ new.view_count }}</a>
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="clearboth"></div>
    </div>
</div>

